<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/sponsor/js/index.js"></script>
{% csrf_token %}
<div class="container">
  <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
      <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content" style="margin-top:20%;">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <button type="button" class="glyphicon back-btn" onclick="reset_table()" id="back-btn">&#xe091;</button>
            <h4 class="modal-title" style="font-size:xx-large;text-align:center;" id="modal-title">Modal Header</h4>
          </div>
          <div class="modal-body" id="modal-body">
            <p>Some text in the modal.</p>
          </div>
          <!--<div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>-->
        </div>

      </div>
    </div>

</div>
<div class="container" style="margin-top:5%;border:thin solid gray;" id="sponsor-container">

  <div style="font-size:x-large;font-weight:bold;text-align:center;">
    Please Confirm Donation Information
  </div>
  <div class="form-group">
    <label class="control-label" style="font-size:large;">Student</label>
    <input type="text" class="form-control" style="font-size:large;" id="student">
  </div>
  <div class="form-group">
    <label class="control-label" style="font-size:large;">Amount</label>
    <input type="text" class="form-control" style="font-size:large;" id="amount">
  </div>
  <div class="form-group">
    <label class="control-label" style="font-size:large;">CCN</label>
    <input type="password" class="form-control" style="font-size:large;" id="ccn">
  </div>
  <div class="form-group">
    <label class="control-label" style="font-size:large;">Card Number</label>
    <input type="password" class="form-control" style="font-size:large;" id="card_number">
  </div>
  <div class="form-group">
    <label class="control-label" style="font-size:large;">Expiration Date</label>
    <input type="password" class="form-control" style="font-size:large;" id="expiration_date">
  </div>
  <div class="text-center" style="margin-bottom:2%;">
    <button type="button" class="btn btn-success btn-lg" id="confirm-btn">Confirm</button>
    <button type="button" class="btn btn-danger btn-lg" id="error-btn">Report Error</button>
  </div>
</div>
