<div class="container">
	<div class="row">
		<div class="col-md-4 login-sec">
	    <h2 class="text-center">Login Now</h2>
	    <form class="login-form">
        <div class="form-group">
          <label for="exampleInputEmail1" class="text-uppercase">Username</label>
          <input type="text" id="login_email" class="form-control" placeholder="">
        </div>
				{% csrf_token %}
        <div class="form-group">
          <label for="exampleInputPassword1" class="text-uppercase">Password</label>
          <input type="password" id="login_password" class="form-control" placeholder="">
        </div>
        <div class="form-check">
          <button type="button" id="login_btn" class="btn btn-login float-right">Submit</button>
				</div>
      </form>
		</div>
		<div class="col-md-8 banner-sec">
		</div>
	</div>
</div>
