<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/student/js/index.js"></script>
<link rel="stylesheet" href="/static/student/css/index.css">
<script src="https://www.gstatic.com/firebasejs/5.5.3/firebase.js"></script>
<script src="https://www.gstatic.com/firebasejs/5.2.0/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/5.2.0/firebase-database.js"></script>
<script type="text/javascript" src="/static/home/js/firebase_init.js"></script>
<link rel="stylesheet" href="/static/administrator/css/index.css">
<!------ Include the above in your HEAD tag ---------->
{% csrf_token %}
<div class="container">
  <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
      <div class="modal-dialog modal-lg">
        <span hidden style="display:none;visibility:hidden" id="row-id">
        </span>
        <!-- Modal content-->
        <div class="modal-content" style="margin-top:20%;">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title" style="font-size:xx-large;text-align:center;" id="modal-title">Modal Header</h4>
          </div>
          <div class="modal-body" id="modal-body">
            <p>Some text in the modal.</p>
          </div>
          <!--<div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>-->
        </div>

      </div>
    </div>

</div>
<div id="wrapper">
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
	   <div class="container-fluid">
			<div class="navbar-header">
  			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
    			<span class="sr-only">Toggle navigation</span>
    			<span class="icon-bar"></span>
    			<span class="icon-bar"></span>
    			<span class="icon-bar"></span>
  			</button>
        <div class="navbar-brand" style="font-size:x-large;">
          <a id="menu-toggle" href="#" class="glyphicon glyphicon-align-justify btn-menu toggle">
            <i class="fa fa-bars"></i>
          </a>
          <span style="color:white;cursor:pointer;font-size:xx-large;">Phonathon Fundraiser</span>
        </div>
			</div>
		</div>
	</nav>
    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <nav id="spy">
            <ul class="sidebar-nav nav">
                <li style="padding-top:4%" class="sidebar-item-active" id="home-tab">
                    <a style="cursor:pointer;" id="home-btn">
                      <span class="fa fa-home solo glyphicon" id="home-icon"style="font-size:xx-large;color:white;">&#xe021;</span>
                      <div style="font-size:xx-large;color:white;" >Home</div>
                    </a>
                </li>
                <li id="sponsor-tab">
                    <a style="cursor:pointer;" id="sponsor-btn">
                        <span class="fa fa-anchor solo glyphicon" id="sponsor-icon" style="font-size:xx-large">
                          &#xe148;
                        </span>
                        <div style="font-size:xx-large;color:white;">Sponsor</div>
                    </a>

                </li>
                <li>
                    <a style="cursor:pointer;" id="log-out-btn">
                        <span class="fa fa-anchor solo glyphicon" style="font-size:xx-large">
                          &#xe017;
                        </span>
                        <div style="font-size:xx-large;color:white;">Log Out</div>
                    </a>

                </li>
            </ul>
        </nav>
    </div>
    <!-- Page content -->
    <div id="page-content-wrapper">
        <div class="page-content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-8">
                        <div class="panel panel-danger">
                            <div class="panel-heading" style="font-size:xx-large;" id="panel-title">
                              Statistics
                            </div>
                            <div class="panel-body" id="panel-body">
                              <section class="progress">
                                <div class="progress-radial progress-90 setsize circle-radial-bar">
                                  <div class="overlay setsize circle-radial-inside">
                                    <p class="percent-content">90%</p>
                                  </div>
                                </div>
                                <div class="clear"></div>
                                <div class="panel-body-content">
                                  X or P donors confirmed
                                </div>
                              </section>
                              <div class="panel-body-content">
                                Progress to Goal
                              </div>
                                <div class="progress progress-barr">
                                  <div class="progress-bar" role="progressbar" aria-valuenow="70"
                                  aria-valuemin="0" aria-valuemax="100" style="width:70%;font-size:xx-large;padding-top:2%;">
                                    70%
                                  </div>
                                </div>
                                <div class="panel-body-content">
                                  Collected <span id="collected" style="color:green;">$300</span> out of <span id="total" style="color:green;">$400</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="panel panel-success">
                            <div class="panel-heading" style="font-size:xx-large;">
                              Notifications
                            </div>
                            <div class="panel-body">
                              <div class="notification-container">
                                <ul class="list-group" id="notif-list">
                                  <li class="list-group-item notif-item">Cras justo odio</li>
                                  <li class="list-group-item notif-item">Dapibus ac facilisis in</li>
                                  <li class="list-group-item notif-item">Morbi leo risus</li>
                                  <li class="list-group-item notif-item">Porta ac consectetur ac</li>
                                  <li class="list-group-item notif-item">Vestibulum at eros</li>
                                </ul>
                              </div>
                              <div class="notification-send-bar">
                                <div class="col-md-10">
                                  <input type="text" id="send-text" style="width:100%;" class="form-control">
                                </div>
                                <div class="col-md-2">
                                  <a style="cursor:pointer;" id="send-btn" class="btn btn-info btn-lg">
                                    <span class="glyphicon glyphicon-send"></span>
                                  </a>
                                </div>
                              </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
