<link rel="stylesheet" href="/static/student/css/student_sponsor.css">
<script type="text/javascript" src="/static/student/js/student_sponsor.js"></script>
<div class="panel-body-content" style="padding-bottom:7%;">
  <button type="button" id="download-btn" class="btn btn-info pull-left" style="font-size:large;">Download CSV</button>
  <button type="button" class="btn btn-info btn-lg pull-right" style="height:5%;" id="add-sponsor-btn">Add Sponsor</button>
</div>
<table class="table" style="font-family:sans-serif" id="admin-sponsor-table">
  <thead>

    <tr style="background-color:#41ea41;color:white;" id="sponsor-table-columns">
      <th scope="col">Date</th>
      <th scope="col">Amount</th>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Email</th>
      <th scope="col">Confirmed</th>
    </tr>
  </thead>
  <tbody id="sponsor-table-rows">
    <tr>
      <td>1</td>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <td>2</td>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
    <tr>
      <td>3</td>
      <td>Larry</td>
      <td>the Bird</td>
      <td>@twitter</td>
    </tr>
  </tbody>
</table>
<button type="button" onclick="get_sponsor(0,2);" class="btn btn-info btn-lg" id="prev-btn">
  <span class="glyphicon glyphicon-step-backward"></span>
</button>
<button type="button" onclick="get_sponsor(2,4);" name="button" class="btn btn-info btn-lg pull-right" id="next-btn">
  <span class="glyphicon glyphicon-step-forward"></span>
</button>
