<link rel="stylesheet" href="/static/administrator/css/admin_student.css">
<script type="text/javascript" src="/static/administrator/js/admin_student.js"></script>
<div class="panel-body-content" style="padding-bottom:7%;">
  <input type="text" class="col-md-6" style="height:5%;" id="search-text">
  <button type="button" class="btn btn-info btn-lg col-md-2" id="search-btn">
    <span class="glyphicon glyphicon-search">
  </button>
  <button type="button" id="download-btn" class="btn btn-info pull-right col-md-2" style="font-size:large;">Download CSV</button>
</div>
<table class="table" style="font-family:sans-serif" id="admin-student-table">
  <thead>
    <tr style="background-color:#41ea41;color:white;" id="student-table-columns">
      <th scope="col">Student ID</th>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Email</th>
      <th scope="col">Phone #</th>
    </tr>
  </thead>
  <tbody id="student-table-rows">
    <tr>
      <td>1</td>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <td>2</td>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
    <tr>
      <td>3</td>
      <td>Larry</td>
      <td>the Bird</td>
      <td>@twitter</td>
    </tr>
  </tbody>
</table>
<button type="button" onclick="get_student(0,2)" class="btn btn-info btn-lg" id="prev-btn">
  <span class="glyphicon glyphicon-step-backward"></span>
</button>
<button type="button" onclick="get_student(2,4)" name="button" class="btn btn-info btn-lg pull-right" id="next-btn">
  <span class="glyphicon glyphicon-step-forward"></span>
</button>
