<script type="text/javascript" src="/static/administrator/js/home.js"></script>
 <div class="panel-body-content">
    Confirmed Sponsors
  </div>
  <section class="progress">
    <div class="progress-radial progress-90 setsize circle-radial-bar" id="pie-chart">
      <div class="overlay setsize circle-radial-inside">
        <p class="percent-content" id="percent">90%</p>
      </div>
    </div>
    <div class="clear"></div>
    <div class="panel-body-content" id='num-Donors'>
      X of P donors confirmed
    </div>
  </section>
   <div class="panel-body-content">
    Amount Collected
  </div>
  <section class="progress">
    <div class="progress-radial progress-90 setsize circle-radial-bar" id="pie-chart2">
      <div class="overlay setsize circle-radial-inside">
        <p class="percent-content" id="percent-given">90%</p>
      </div>
    </div>
    <div class="clear"></div>
    <div class="panel-body-content" id='num-Given'>
      X of P donors confirmed
    </div>
  </section>
  <div class="panel-body-content">
    Progress to Total Goal
  </div>
    <div class="progress progress-barr">
      <div class="progress-bar" role="progressbar" aria-valuenow="70"
      aria-valuemin="0" aria-valuemax="100" style="width:70%;font-size:xx-large;padding-top:2%; color:black;" id="money-progress">
        70%
      </div>
    </div>
    <div class="panel-body-content">
      Collected <span id="collected" style="color:green;">$300</span> out of <span id="total" style="color:green;">$400</span>
  </div>
