<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>

<div class="container" style="margin-top:10%;border:thin solid gray;">

  <div style="font-size:x-large;font-weight:bold;text-align:center;">
    Please Confirm Donation Information
  </div>

  <div class="form-group">
    <label class="control-label" for="username" style="font-size:large;">Username</label>
    <input type="text" class="form-control" style="font-size:large;" id="username">
  </div>
  <div class="form-group">
    <label class="control-label" for="password" style="font-size:large;">Password</label>
    <input type="password" class="form-control" style="font-size:large;" id="password">
  </div>
  <div class="form-group">
    <label class="control-label" style="font-size:large;" for="phone">Phone Number</label>
    <input type="tel" class="form-control" style="font-size:large;" id="phone">
  </div>
  <div class="text-center" style="margin-bottom:2%;">
    <button type="button" class="btn btn-success btn-lg" name="button">Confirm</button>
    <button type="button" name="button" class="btn btn-danger btn-lg">Delete</button>
  </div>
</div>
