.student-table-active{
  background-color:aquamarine;
}

#student-table-rows tr{
  cursor:pointer;
}

#student-table-rows tr:hover{
  background-color: aquamarine;
}
.focus{
  background-color:aquamarine;
  color:#fff;
  cursor:pointer;
}
.selected{
  background-color:#ff00ff;
  color:#fff;
  font-weight:bold;
}
.asc:after{content:"\25B2";}
.desc:after{content:"\25BC";}
