.sponsor-table-active{
  background-color:aquamarine;
}

#sponsor-table-rows tr{
  cursor:pointer;
}

#sponsor-table-rows tr:hover{
  background-color: aquamarine;
}
.focus{
  background-color:aquamarine;
  color:#fff;
  cursor:pointer;
}
.selected{
  background-color:#ff00ff;
  color:#fff;
  font-weight:bold;
}
.asc:after{content:"\25B2";}
.desc:after{content:"\25BC";}

#sponsor-donation-table-rows tr{
  cursor:pointer;
}
#sponsor-donation-table-rows tr:hover{
  background-color: aquamarine;
}

.back-btn{
  border: none;
  background: 0;
  color: #CCCCCC;
}

.back-btn:hover{
  color:#808080;
}
